/* ===================== */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.header{
    width: 100%;
    height: 120px;
    display: block;
    background-color: #8cd6ca;
}

.inner_header{
    width: 1300px;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: #8cd6ca;
}


img{
    position: fixed;
    transform: translate(0,20%);
    width: 180px;
    height: 80px;
    display: table-cell;
    vertical-align: middle;;
}

.navigation{
    float:right;
    height: 100%
}

.navigation a{
    height: 100%;
    float: left;
    padding: 0px 20px;
    font-family: "Neucha";
}

.navigation a:last-child{
    padding-right: 0;
}

/* */
.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

/* ===================== */

.background-image{
    background-image: url("file:///Users/kaykim/Desktop/art/Intertwined_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.text-box{
    position: relative;
    left: 300px;
    top: 150px;

    width: 500px;
    height: 200px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Neucha";
}

.text-box:focus{
    border-color:black;
    box-shadow: blue;
}

.showcase-image{
    position: relative;
    left: 600px;
    bottom: 300px;
    width: 418.5px;
    height: 830.8125px;
}
